<div class="jumbotron">
    <h1 class="display-4">Creador de Rubricas</h1>
    <p class="lead">
        Una herramienta diseñada para crear y calificar rubricas
        Crea y edita rubricas.
    </p>
    <hr class="my-4">
 
    <div class="row">
        <div class="col">
            <rc-create-rubric-button></rc-create-rubric-button>
            <a class="btn btn-secondary btn-lg mb-1" [routerLink]="['/rubrics']" role="button">
                <span class="mr-1 oi oi-list"></span>
                Ver Rubricas
            </a>
        </div>
    </div>
</div>
